body {
  margin: 0;
}

.boxmodel {
  width: 200px;
  height: 200px;
  background-color: red;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  /* margin: 200px; */
  margin: 5px 10px 50px 40px;
}

.paragrafo-box {
  color: #000;
  margin: 0;
}
